              <!-- single item -->
              <div class="col-10 col-sm-6 col-lg-3 max-auto my-1 store-item sweets" data-item="sweets">
                    <div class="card single-item">
                        <div class="img-container">
                           <img src="img/chin-chin.jpg" class="card-img-top store-img" alt="">
                           <span class="store-item-icon">
                               <i class="fas fa-shopping-cart"></i>
                           </span>
                           <span class="item-price">
                              10 - 20 mins
                           </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text text-capitalize">
                             <h5 id="store-item-name">Egusi Soup <span class="by">By</span> <span class="restaurant">Rodina Foods</span></h5>
                             <hr>
                             <h5 class="store-item-value"><strong class="font-weight-bold" id="store-item-price">N4,500</strong></h5>
                             <hr>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- end of single item -->
                <!-- single item -->
                <div class="col-10 col-sm-6 col-lg-3 max-auto my-1 store-item sweets" data-item="sweets">
                    <div class="card single-item">
                        <div class="img-container">
                           <img src="img/rice.jpg" class="card-img-top store-img" alt="">
                           <span class="store-item-icon">
                               <i class="fas fa-shopping-cart"></i>
                           </span>
                           <span class="item-price">
                              10 - 20 mins
                           </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text text-capitalize">
                             <h5 id="store-item-name">Egusi Soup <span class="by">By</span> <span class="restaurant">Rodina Foods</span></h5>
                             <hr>
                             <h5 class="store-item-value"><strong class="font-weight-bold" id="store-item-price">N4,500</strong></h5>
                             <hr>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- end of single item -->
                <!-- single item -->
                <div class="col-10 col-sm-6 col-lg-3 max-auto my-1 store-item sweets" data-item="sweets">
                    <div class="card single-item">
                        <div class="img-container">
                           <img src="img/ewa.jpg" class="card-img-top store-img" alt="">
                           <span class="store-item-icon">
                               <i class="fas fa-shopping-cart"></i>
                           </span>
                           <span class="item-price">
                              10 - 20 mins
                           </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text text-capitalize">
                             <h5 id="store-item-name">Egusi Soup <span class="by">By</span> <span class="restaurant">Rodina Foods</span></h5>
                             <hr>
                             <h5 class="store-item-value"><strong class="font-weight-bold" id="store-item-price">N4,500</strong></h5>
                             <hr>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- end of single item -->
                <!-- single item -->
                <div class="col-10 col-sm-6 col-lg-3 max-auto my-1 store-item sweets" data-item="sweets">
                    <div class="card single-item">
                        <div class="img-container">
                           <img src="img/soup-1.jpg" class="card-img-top store-img" alt="">
                           <span class="store-item-icon">
                               <i class="fas fa-shopping-cart"></i>
                           </span>
                           <span class="item-price">
                              10 - 20 mins
                           </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text text-capitalize">
                             <h5 id="store-item-name">Egusi Soup <span class="by">By</span> <span class="restaurant">Rodina Foods</span></h5>
                             <hr>
                             <h5 class="store-item-value"><strong class="font-weight-bold" id="store-item-price">N4,500</strong></h5>
                             <hr>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- end of single item -->
                  



              